---
import { useTranslate } from "../i18n/useTranslate";

const { t } = useTranslate(Astro.url);
const DATA = t("AboutMe");
console.log(DATA);
---

<article class="flex lg:flex-row flex-col gap-8" id="about-me">
  <img
    width="200"
    height="200"
    src="/profile-photo.jpeg"
    alt="Brandon Quintero"
    class="object-cover self-center w-64 h-full p-1 rotate-3 morder-first lg:order-last lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
  <div class="flex gap-8 flex-col">
    {
      DATA?.map((text) => (
        <p set:html={text} />
      ))
    }
  </div>
</article>

<style >
  strong {
    @apply font-pixel text-green-300;
  }
</style>
