<article class="flex lg:flex-row flex-col gap-8" id="about-me">
  <img
    width="200"
    height="200"
    src="/public/profile-photo.jpeg"
    alt="Brandon Quintero"
    class="object-cover self-center w-64 h-full p-1 rotate-3  morder-first lg:order-last  lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
  <div class="flex gap-8 flex-col">
    <p>
      Me llamo Brandon Quintero. Descubrí el mundo de la programación cuando
      tenía 11 años, gracias a los mods de Age of Empires 2 luego de eso me
      enseñaron el sistema operativo kali-linux y desde ese momento empezó mi
      gusto por la programación y la seguridad informatica. Actualmente,
      <strong>Estoy colaborando con Disruptive IT como freelance. </strong>
    </p>

    <p>
      Lideré el desarrollo del backend para un proyecto internacional, Mesadoko,
      una aplicación móvil de la empresa
      <strong> Mesa Davis Enterprises LLC en EE.UU. </strong>
      mientras estudiaba.
    </p>
    <p>
      Liderazgo en Proyectos Full-Stack Fui responsable del proyecto
      <strong> SAS SIP Inventory, </strong>
      transformándolo en una solución completa y escalable para supermercados, llamado
      <strong> SuperMarket Inventory. </strong>
      Dirigí todos los aspectos del desarrollo y mejoré la eficiencia de las soluciones
      web implementadas. Mejoras de Rendimiento
    </p>
    <p>
      En la Empresa Mejoré el rendimiento web de varios productos en<strong>
        DisruptiveIT,
      </strong> mentorizando equipos, diseñando estrategias, creando dashboards y
      gestionando servicios en la nube. Esto resultó en una mejora del
      <strong> 20% </strong>
      en el rendimiento general de la empresa.
    </p>
  </div>
</article>

<style>
  
  strong {
    @apply font-pixel text-green-300;
  }
</style>
