---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Abril-2022 | Actualidad",
    title: "Desarrollador Full-stack",
    company: "Disruptive Information Tecnologies",
    description: `Desarrollé el backend de "Mesadoko" con Node.js. Lideré el proyecto SAS SIP Inventory y lo convertí en "SuperMarket Inventory". Mejoré el rendimiento web y gestioné servidores y servicios en la nube. Implementé soluciones innovadoras en GitHub y aceleré la creación de documentación. Reforcé la seguridad de la empresa contra ataques DDoS y ciberataques.`,
    link: "https://play.google.com/store/apps/details?id=com.mesadavisenterprises.mesadokoapp&hl=en_US",
  },
  {
    date: "Abril-2022 | Diciembre-2023",
    title: "Desarrollador Full-stack",
    company: "Arrendamientos del Norte",
    description: `Lideré el desarrollo de la aplicación administrativa RCService para Arrendamientos del Norte. Desarrollé una API en el backend con Node.js y Express. Creé una aplicación web para administradores con ReactJS. Desarrollé una app móvil en React Native para los clientes.
`,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
