---
import { useTranslate } from "../i18n/useTranslate";
import ExperienceItem from "./ExperienceItem.astro";
const { t } = useTranslate(Astro.url);

const EXPERIENCE = t('experience')
---

<ol class="relative mt-16">
  {
    Array.isArray(EXPERIENCE) && EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
